{% extends 'base.html' %}

{% block content %}
<h1 id="assigment">Current Assignments</h1>



{% for assignment in assignment_list %}
<a href="{% url 'assignments_detail' assignment.id %}">
    <div class="card" id="card">
        <div class="card-content">
            <span class="card-title">Assignment number {{ assignment.id }}</span>
            <p><span class="heading">Description:</span> {{ assignment.description }}</p>
            <p><span class="heading">Due Date:</span> {{ assignment.due_date }}</p>
        </div>
    </div>
</a>

{% endfor %}
<a id="add" href="{% url 'assignments_create' %}"><i class="material-icons"> add</i>Create an Assignment</a>


<style>
    body {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8eYyAr3CAH6jI0MGAnwa2El8oLZURFCzu9A&usqp=CAU')
    }
    #assigment{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(151, 76, 68);
    }
    #card{
        font-family: fantasy;
        color:slategray;
    }

    #add {
        color: rgb(122, 42, 10);
        font-weight: bold;
        font-family: monospace;
    }
    </style>


{% endblock %}