{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1 class="nav-header">Edit Assignment {{ object.id }}</h1>
{% else %}
<h1 class="nav-header">Add New Assignment</h1>
{% endif %}
<style>
    body {
      background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/34/41/vj3iml.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%; 
    }
</style>
<div id="assCreateContainer">
    <div class="card">
        <div class="card-content">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value='✔︎' class="btn-floating icons">
            </form>
        </div>
    </div>
</div>
<script>
    const dueDateEl = document.querySelector('#id_due_date');
    M.Datepicker.init(dueDateEl, {
        format: 'yyyy-mm-dd',
        // defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
</script>
{% endblock %}