{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1 class="nav-header">Edit {{ object.course_subject }}{{ object.course_number }}</h1>
{% else %}
    <h1 class="nav-header">Add A New Classroom</h1>
{% endif %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
        background-repeat: no-repeat;
        background-size: 100% 100%; 
    }
</style>

<div id="classCreateContainer">
    <div class="card">
        <div class="card-content">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value='✔︎' class="btn-floating icons">
            </form>
        </div>
    </div>
</div>

{% endblock %}