{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1 id="classro">Edit <span class="teal-text">{{ object.course_subject }}{{ object.course_number }}</span></h1>
{% else %}
    <h1 id="classro">Add A New Classroom</h1>
{% endif %}
<style>
    body {
      background-image: url('https://i.pinimg.com/originals/cd/64/8c/cd648c18c07544ef1f3c4299e5faee56.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%; 
    }
</style>
<form id="class_text" action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn-floating pulse lime lighten-4" type="submit" value="✔︎">
</form>

{% endblock %}