{% extends 'base.html' %}

{% block content%}

<h1 class="nav-header">Delete Classroom</h1>

<h4>Are you sure you want to delete {{ object.course_subject }} {{ object.course_number }}?</h4>

<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
      background-repeat: no-repeat;
      background-size: 100% 100%; 
    }
</style>
<form action="" method="POST">
    {% csrf_token %}
    <input class="btn-floating icons" type="submit" value="✔︎">
    <a href="{% url 'classrooms_detail' classroom.id %}">
        <input type="submit" value="✘" class="btn-floating icons">
    </a>
</form>

{% endblock %}