{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1 class="nav-header">Edit {{ object.first_name }} {{ object.last_name }}</h1>
{% else %}
    <h1 class="nav-header">Add A New Student</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <input class="btn-floating icons" type="Submit" value="✔︎">
</form>
<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/78/70/XIbUE1.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;   
    }
</style>

{% endblock %}