{% extends 'base.html' %}

{% block content%}

<h1 class="nav-header">Delete Student</h1>

<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/78/70/XIbUE1.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;   
    }
</style>

<h4>Are you sure you want to delete {{ object.first_name }} {{ object.last_name }}?</h4>

<form action="" method="POST">
    {% csrf_token %}
    <input class="btn-floating icons" type="submit" value="✔︎">
    <input class="btn-floating icons" type="submit" value="✘" href="">
</form>

{% endblock %}