{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1 id="edit_student">Edit <span id="student_name" class="teal-text ndigo lighten-2">{{ object.first_name }} {{ object.last_name }}</span></h1>
{% else %}
    <h1 id="edit_student">Add A New Student</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn-floating pulse lime lighten-4" type="Submit" value="✔︎">
</form>
<style>
    body {
      background-image: url('https://www.ppt-backgrounds.net/thumbs/simple-designs-images--pictures--becuo-picture-image.jpeg');
      background-repeat: no-repeat;
      background-size: 100% 100%;   
    }
</style>

{% endblock %}