{% extends 'base.html' %}

{% block content %}

<h1 id="list">Classroom List</h1>
<style>
    body {
      background-image: url('https://pic.52112.com/2021/01/28/22/28225816_eb2f9123b9_small.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
</style>

{% for classroom in classrooms %}
<div id="room" class="card">
    <a href="{% url 'classrooms_detail' classroom.id %}">
        <div id="classroom" class="card-content">
            <span class="card-title">{{ classroom.course_subject }} {{ classroom.course_number }}</span>
            <p>Course Name: {{ classroom.course_name }}</p>
        </div>
    </a>
</div>
{% endfor %}
<a class="btn-floating pulse lime lighten-4" href="{% url 'classrooms_create'%}"> <i class="material-icons"> add</i></a>
{% endblock %}