{% extends 'base.html' %}


{% block content %}

<form class="form" action="{% url 'signup' %}" method="POST">
    <legend>
        <h1>Signup</h1>

        {% if error_message %}
        <p class="red text">{{ error_message }}</p>
        {% endif %}

        {% csrf_token %}
        {{ profile_form.as_p }}
        {{ user_form.as_p }}
        <p>
            <label>
                {{ profile_form.is_teacher }}
                <span>I am a Teacher</span>
            </label>
        </p>
    
        <input type="checkbox">
        <input type="submit" value="Signup" class="btn blue-grey lighten-2 right">
    </legend>

</form>


{% endblock %}