{% extends 'base.html' %}

{% block content %}


<div id="aboutContainer">
    <h1 class="nav-header">About OnEdge™</h1>

    <img id="img2" src="https://img.freepik.com/free-vector/student-guy-studying-internet-watching-online-lecture-computer-talking-math-tutor-through-video-call-cartoon-illustration_74855-14524.jpg?size=626&ext=jpg&ga=GA1.2.1525735981.1624579200">
    <style>
        #img2{
            border-radius: 50px;
            padding-right:60px;
            height: 15rem;
        }

    </style>
    <h5>Our Mission:</h5>
    <!-- <hr size="8" width="100%" color="rgb(66, 14, 114)"> -->
    <p id="aboutText">
        OnEdge™ is an online learning tool that provides a platform for teachers and students to communicate effectively
        with each other
    </p>
    <!-- <hr size="8" width="100%" color="rgb(66, 14, 114)"> -->
    <br>

    <h5>Our Leaders:</h5>
    <!-- <hr size="8" width="100%" color="rgb(66, 14, 114)"> -->
    <div id="contact">
        <div class="leader">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="leaderImg" src="https://i.imgur.com/brkbEfJ.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Sihui Shen</h4>
                        <span class="label">Chief Executive Officer</span>
                        <br>
                        <p>sihui.shen@yahoo.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="leader">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="leaderImg" src="https://i.imgur.com/Y3BKAOr.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Joseph Choi</h4>
                        <span class="label">Chief Technology Officer</span>
                        <br>
                        <p>jchoi192@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="leader">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="leaderImg" src="https://i.imgur.com/17CfYYk.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>Swaroop Uprety</h4>
                        <span class="label">Chief Financial Officer</span>
                        <br>
                        <p>upretyswaroop@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
</div>


{% endblock %}