{% extends 'base.html' %}

{% block content %}


    <h1 id="about">About the OnEdge</h1>
        <style>
            #about {
                position: relative;
                color: #004d40;
                font-family: cursive;   
                z-index: 999; 
            }
        </style>
        <img id="img1" src="https://t4.ftcdn.net/jpg/03/49/04/11/360_F_349041172_7p4d3KBfqpM2fg51vuPq4jhLkkwnnrFk.jpg">
            <style>
                #img1 {
                    position: absolute;
                    top: 5px;
                    right:350px;
                    border-radius: 50%;     
                }
            </style>
    
    <p id="aboutText">
        <style>
            
            #aboutText{
                position: relative;
                color:slategray;
                font-size: 20px;
                font-family: monospace;
                border:15px;
                width: 400px;
                bottom: 10px;
            }
        </style>
        An online learning tool that provides a platform for teachers and students to communicate effectively with each other 
    </p>
<br>
<img id="img2" src="https://img.freepik.com/free-vector/student-guy-studying-internet-watching-online-lecture-computer-talking-math-tutor-through-video-call-cartoon-illustration_74855-14524.jpg?size=626&ext=jpg&ga=GA1.2.1525735981.1624579200">
    <style>
        #img2{
            border-radius: 50px;
            padding-right:60px;
        }

    </style>
    <p id="contact">
        <style>
            #contact{ 
                position: relative;
                color:rgb(44, 47, 51);
                font-size: 15px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border:25px;
                width: 200px;
                padding-top: 50px;
        
            }
        </style>
        Contact:
        <br>
        Swaroop Uprety: upretyswaroop@gmail.com
        Joseph Choi: jchoi192@gmail.com
        Sihui Shen: sihui.shen@yahoo.com
    </p>
    

    
{% endblock %}
