{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>OnEdge</title>
</head>
<!-- <div class="imgContainer">
    <img src="{% static 'images/picsum_img.jpg' %}" alt="">
</div> -->
<header class="navbar-fixed">
    <nav>
        <nav class="grey darken-3">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <span class="material-icons dp48">school</span>
                        <a href="{% url 'home' %}" class="left brand-logo">OnEdge</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    
                    {% if user.profile.is_teacher %}
                        <li>
                            <a href="{% url 'classrooms_index' %}">Classrooms</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'classrooms_index' %}">{{ user.profile.first_name }}'s Classrooms</a>
                        </li>
                    {% endif %}

                    {% if user.profile.is_teacher %}
                        <li>
                            <a href="{% url 'assignments_index' %}">assignments</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'assignments_index' %}">{{ user.profile.first_name }}'s assignments</a>
                        </li>
                    {% endif %}
                    {%  if user.profile.is_teacher %}        
                        <li>
                            <a href="{% url 'students_index' %}">Students</a>
                        </li>
                    {% endif %}        
                    <li>
                        <a href="{% url 'dashboard' %}">{{ user.username }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>
</header>

<body>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <br>
    <br>
        <footer class="page-footer" id="myFooter">
            <style>
                 #myFooter {background-color:#424242;}
            </style>
                <div class="center">All Rights Reserved &copy; 2021 OnEdge 
                    
                </div>
        </footer> 
</body>

</html>