{% extends 'base.html' %}

{% block content %}


    <h1 id="homePage">OnEdge HomePage
      <style>
          #homePage{ color: #78909c;
                      font-family:fantasy;}
      </style>
    </h1>

    <div class="col s10 m8 offset-m2 l6 offset-l3"> 
      <div class="row valign-wrapper">
          <div class="col s10">
              <img src="https://icon-library.com/images/online-class-icon/online-class-icon-17.jpg" alt="" class="circle responsive-img"> 
          </div>
            <div class="col s20">
              <span class="b0bec5 blue-grey-text" id="page">
                <style>
                  #page{ font-family: monospace;}
                </style>
                Wipe the BlackBoard clean...
              <br>
              <br>
                The newest and most advanced online learning platform  is here! 
              <br>
              <br>
                OnEdge™ provides effective digital educational tools that make it fun and easy for teachers to teach, and students to learn. 
              </span>
            </div>
          </div>
        </div>
      </div>



{% endblock %}