{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h2 class="dashHeader">{{ profile.first_name }}'s Dashboard</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://i.imgur.com/QPhMDNr.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>{{ profile.first_name }} {{ profile.last_name }}</h4>
                    <span class="label">Email Address: </span>
                    <p>{{ profile.email }}</p>
                    <br>
                    <span class="label">About: </span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, eveniet asperiores adipisci veritatis eligendi accusantium vero ducimus omnis neque natus, nostrum atque magni rem amet maiores quae. Voluptas, ea similique!</p>
                    <br>
                    <span class="label">Total Classrooms: </span>
                    <p>{{ classrooms.count }}</p>
                    <br>
                    <span class="label">Total Assignments: </span>
                    <p>{{ assignments.count }}</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ profile.first_name }}'s Assignments</span>
                {% for assignment in assignments %}
                    <p class="assignmentDesc">{{ assignment.description }}</p>
                    <p><span class="label">Due Date: </span> {{ assignment.due_date }}</p>
                    <br>
                {%  endfor %}
            </div>
            <div class="card-action">
                <a href="{% url 'assignments_index' %}">View All Assignments</a>
            </div>

        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ profile.first_name }}'s Classrooms</span>
                {% for classroom in classrooms %}
                    <p class="assignmentDesc"><span class="label">{{ classroom.course_subject }} {{ classroom.course_number }}: </span> {{ classroom.course_name }}</p>
                    <br>
                {%  endfor %}
            </div>
            <div class="card-action">
                <a href="{% url 'classrooms_index' %}">View All Classrooms</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}