/* @import url(‘https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap’); */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Advent Pro', sans-serif;
}

main {
    flex-grow: 1;
    font-family: 'Advent Pro', sans-serif;
}

footer {
    padding-top: 0;
    text-align: right;
    font-family: 'Advent Pro', sans-serif;
}

.nav-wrapper {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(183, 168, 196);
}

.heading{
    font-weight: bold;
}

.dashHeader, .card-title {
    /* background-color: black; */
    /* color: white; */
    margin-bottom: 0;
    border-bottom: 5px solid black;
    /* padding: 10px; */
}

.label {
    font-weight: bold;
    font-size: 1.2rem;
}

.horizontal{
    margin-top: 0;
}

.assignmentDesc {
    font-size: 1.2rem;
}

.addedAssignment{
    background-color: rgba(255, 255, 0, 0.575);
}

.unassigned {
    background-color: aqua
}

/* current assignment */
#assigment{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}
#card{
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
    margin-left: 1rem;
}


/* class list */
#list{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
    text-align: center;

}

#classroom{
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}
#room {
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
}

/* assignment detail */
#assdetail{
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}

#asscard{
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}

/* student list */
.nav-header{
    color:rgb(66, 14, 114);
    text-align: center;
    /* font-family: 'Style Script', cursive; */
}

#student_card{
    display:flex;
    flex-direction: column;
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}

#list_card{
    /* width: 30rem; */
    display: flex;
    flex-direction: column;
    /* left: 14rem;    */
}
#button{
    display: flex;
    flex-direction: column;
    left: 14rem; 
}
/* student details */
#stu_detail{
    color:rgb(114, 103, 103);
    /* font-family: 'Style Script', cursive; */
}

/* edit student */
#edit_student{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
}

#student_name {
    color: rgb(94, 83, 68);
}

/* delete student */
#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#delete{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */

}

/* edit assignment */
#edit{
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}


/* delete assignment */
#delete_assignment {
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}

#message {
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
    position:relative; 
    top:2px;
    
}

/* add classroom */
#classro {
    color: rgb(105, 119, 71);
    /* font-family: 'Style Script', cursive; */
    display: flex;
    /* position: relative; */
    margin-bottom: 50px;
    left: 20px;
    top: 50px;
}

#classCreateForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
    color:slategray;
    font-size: 20px;
    width: 50rem;
    /* left: 43px; */
}

/* classroom detail */

#classroom_det {
    display: flex;
    margin-bottom: 50px;
}

#classroom_card{
    display:flex;
    flex-direction: column;
    position: relative;
    color:slategray;
    font-size: 20px;
    bottom:20px;
}

.icons {
    background-color: rgb(66, 14, 114);
    border: none;
}

.homepageText {
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.offset-l3 {
    margin-top: 2rem;
    height: 200px;
}

#homePageContainer, #aboutContainer {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bbClean {
    font-size: 3rem;
    font-weight: bold;
}

.actionText {
    color: rgb(66, 14, 114)
}

#authContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
}

#authContainer .card {
    margin: 20px;
    width: 300px;
}

#aboutText {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(66, 14, 114, 0.05);
    padding: 20px 0 20px 0;
    border-top: 5px solid rgb(66, 14, 114);
    border-bottom: 5px solid rgb(66, 14, 114);
}

#contact {
    display: flex;
    margin-top: 10px;
}

.leaderTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.leader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0 20px 0 20px;
    width: 35rem;
    background-color: rgba(66, 14, 114, 0.05); 
    border-top: 5px solid rgba(66, 14, 114, 0.05); 
    border-bottom: rgba(66, 14, 114, 0.05); 
}

.leaderName {
    color: rgb(66, 14, 114);
    font-size: 1.5rem;
}

#loginContainer, #signupContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginform, #signupForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

}

#loginform *, #signupForm * {
    width: 500px;
    margin-bottom: 20px;
}

.loginCard, .signupCard {
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(252, 248, 248, 0.76);
}

#loginBtn, #signupBtn{
    margin-top: 1rem;
    background-color: rgb(66, 14, 114);
}

.card {
    border-radius: 10px;
}

.classroomContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignmentButton {
    margin-left: 15px;
}

.onedgenav {
    background-color: rgb(66, 14, 114);
}
