/* @import url(‘https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap’); */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Advent Pro', sans-serif;
}

main {
    flex-grow: 1;
    font-family: 'Advent Pro', sans-serif;
}

footer {
    padding-top: 0;
    text-align: right;
    font-family: 'Advent Pro', sans-serif;
}

.nav-wrapper {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(183, 168, 196);
}

.heading{
    font-weight: bold;
}

.dashHeader, .card-title {
    /* background-color: black; */
    /* color: white; */
    margin-bottom: 0;
    border-bottom: 5px solid black;
    /* padding: 10px; */
}

.label {
    font-weight: bold;
    font-size: 1.2rem;
}

.horizontal{
    margin-top: 0;
}

.assignmentDesc {
    font-size: 1.2rem;
}

.addedAssignment{
    background-color: rgba(255, 255, 0, 0.575);
}

.unassigned {
    background-color: aqua
}

/* current assignment */
#assigment{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}
#card{
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
    margin-left: 1rem;
}


/* class list */
#list{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
    text-align: center;

}

#classroom{
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}
#room {
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
}

/* assignment detail */
#assdetail{
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}

#asscard{
    display: flex;
    flex-direction: column;
    /* margin-right: 10rem; */
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}

/* student list */
.nav-header{
    color:rgb(66, 14, 114);
    text-align: center;
    /* font-family: 'Style Script', cursive; */
}

#student_card{
    display:flex;
    flex-direction: column;
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
}

#list_card{
    /* width: 30rem; */
    display: flex;
    flex-direction: column;
    /* left: 14rem;    */
}
#button{
    display: flex;
    flex-direction: column;
    left: 14rem; 
}
/* student details */
#stu_detail{
    color:rgb(114, 103, 103);
    /* font-family: 'Style Script', cursive; */
}

/* edit student */
#edit_student{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */
}

#student_name {
    color: rgb(94, 83, 68);
}

/* delete student */
#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#delete{
    color:rgb(66, 14, 114);
    /* font-family: 'Style Script', cursive; */

}

/* edit assignment */
#edit{
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}


/* delete assignment */
#delete_assignment {
    color: rgb(186, 209, 132);
    /* font-family: 'Style Script', cursive; */
    text-align: center;
}

#message {
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
    position:relative; 
    top:2px;
    
}

/* add classroom */
#classro {
    color: rgb(105, 119, 71);
    /* font-family: 'Style Script', cursive; */
    display: flex;
    position: relative;
    margin-bottom: 50px;
    left: 20px;
    top: 50px;
}
#class_text{
    display:flex;
    flex-direction: column;
    position: relative;
    /* font-family: 'Roboto Mono', monospace; */
    color:slategray;
    font-size: 20px;
    width: 50rem;
    left: 43px;
}

/* classroom detail */

#classroom_det {
    display: flex;
    margin-bottom: 50px;
}

#classroom_card{
    display:flex;
    flex-direction: column;
    position: relative;
    color:slategray;
    font-size: 20px;
    bottom:20px;
}

.icons {
    background-color: rgb(66, 14, 114);
    border: none;
}