body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    text-align: right;
}

/* .nav-wrapper {
    background-color: blueviolet;
}

.page-footer {
    background-color: blueviolet;
} */

.heading{
    font-weight: bold;
}

.card-title {
    /* color: blueviolet; */
    text-align: center;
}

