{% extends 'base.html' %}

{% block content %}
<h1 class="nav-header">Current Assignments</h1>

{% for assignment in assignments %}
<a href="{% url 'assignments_detail' assignment.id %}">
    <div class="card" id="card">
        <div class="card-content">
            <span class="card-title">Assignment number {{ assignment.id }}</span>
            <p><span class="heading">Description:</span> {{ assignment.description }}</p>
            <p><span class="heading">Due Date:</span> {{ assignment.due_date }}</p>
        </div>
    </div>
</a>

{% endfor %}

    <a class="btn-floating icons assignmentButton" href="{% url 'assignments_create' %}"><i class="material-icons"> add</i></a>

<style>
    body {
      background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/34/41/vj3iml.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%; 
    }
</style>


{% endblock %}